<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="DefaultOverwatchPath" value="C:\Program Files (x86)\Overwatch\_retail_\Overwatch.exe"/>
    <add key="DefaultLoadingTime" value="10"/>
    <add key="AccountsPath" value="wallet.json"/>
    <add key="SettingsPath" value="settings.json"/>
  </appSettings>
</configuration>