<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
  <appSettings>
    <add key="DefaultOverwatchPath" value="C:\Program Files (x86)\Overwatch\_retail_\Overwatch.exe"/>
    <add key="DefaultLoadingTime" value="10"/>
    <add key="AccountsPath" value="wallet.json"/>
    <add key="SettingsPath" value="settings.json"/>
    <add key="ApplicationFilesPath" value="\Documents\SmurfWalletOW"/>    
  </appSettings>  
  <connectionStrings>
    <add name="DiscordToken" connectionString="nxD1UrPen3uxkhsMuw6ly0VrGTJtKp+Mvtu6U5gy35AVXSA7KDZR+//z8ZJM/NCxQyN93QbRo7IrEl30m88w+g=="/>
  </connectionStrings>
</configuration>
